# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*.csv
data/raw/*.txt
data/processed/*

# Models
*.pkl
*.joblib

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
