# ===========================
# Python
# ===========================

__pycache__/
*.py[cod]

# ===========================
# Virtual Environment
# ===========================

venv/

# ===========================
# Environment Variables
# ===========================

.env

# ===========================
# Jupyter
# ===========================

.ipynb_checkpoints/

# ===========================
# Data
# ===========================

data/processed/*
!data/processed/README.md

# ===========================
# ML Models
# ===========================

*.pkl
*.joblib

# ===========================
# ML Artifacts
# ===========================

ml/artifacts/

# ===========================
# Logs
# ===========================

logs/

# ===========================
# Firewall Runtime Files
# ===========================

firewall/blocked_ips.json
firewall/firewall_actions.log

# ===========================
# Streamlit
# ===========================

.streamlit/

# ===========================
# VS Code
# ===========================

.vscode/

# ===========================
# Operating System Files
# ===========================

.DS_Store
Thumbs.db